<!-- Copyright 2013 Matthew Hague (matthewhague@zoho.com)
     Released under the GNU General Public License v3 (see GPL.txt) -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.chilon.matt.teacup"
    android:versionCode="1.1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

           <receiver android:name="TeaCup" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="net.chilon.matt.teacup.TeaCup.BTN_ALBUM_ART" />
                <action android:name="net.chilon.matt.teacup.TeaCup.BTN_JUMP_NEXT" />
                <action android:name="net.chilon.matt.teacup.TeaCup.BTN_JUMP_PREV" />
                <action android:name="net.chilon.matt.teacup.TeaCup.BTN_PLAY_PAUSE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/teacup_info" />
        </receiver>

        <activity android:name="TeaCupConfiguration"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="TeaCupService"
                 android:exported="false">
            <intent-filter >
                <action android:name="net.chilon.matt.teacupservice.TEACUP_SERVICE" />
            </intent-filter>
        </service>

        <service android:name="TeaCupUpdater"
                 android:exported="false"/>

        <receiver android:name="ServiceStarter">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>



</manifest>
